* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: column;
}

.tabella {
    margin-top: 50px;
    width: 1000px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 1px 1px 5px 1px rgb(211, 211, 211);
    border-spacing: 0;
    border-radius: 7px;
}

th {
    background-color: rgba(230, 230, 230, 0.562);
    border-bottom: 1px solid rgb(223, 222, 222);
    cursor: pointer;
}

.bordo {
    border-radius: 7px 0 0 0;
}

.tabella td, .tabella th {
    width: 150px;
    height: 45px;
}

.tabella tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
}

.container select {
    margin-top: 15px;
    width: 200px;
    height: 35px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 7px;
    outline: 0;
}