



<div class="container">

    <select name="" id="" (click) = "mostraMeno()" [(ngModel)] = "scelta" >
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
    </select>
    
    <table class="tabella">
    <thead>
        <tr (click)="ordinaRating()">
            <th class="bordo">ID</th>
            <th>Nome</th>
            <th>Nome alternativo</th>
            <th class="bordo" >Rating</th>
        </tr>
            
    </thead>

    <tbody>
        <tr *ngFor="let attore of attoriRicevuti; let i = index">
            <td>{{attore.id}}</td>
            <td>{{attore.nome}}</td>
            <td>{{attore.nomeAlternativo}}</td>
            <td>{{attore.rating}}</td>
        </tr>
    </tbody>

    </table>

</div>




